.dm-users {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 75vh;
}

.dm-users-element {
  height: inherit;
  overflow-y: scroll;
}

.dm-users-element > * {
  flex-shrink: 0;
}

.dm-users-alt {
  width: 83px;
  height: 5vh;
  font-size: 12px;
  color: #979da2;
  margin-top: 9px;
  margin-bottom: 12px;
}
