.dm-users {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding-left: 5%;
}

.dm-users-element {
  height: inherit;
  overflow-y: scroll;
}

.dm-users-element > * {
  flex-shrink: 0;
}

.dm-users-alt {
  width: 25%;
  height: 3%;
  font-size: 0.7rem;
  color: #979da2;
  margin-top: 1%;
  margin-bottom: 2%;
}
