node_modules
.env
volume
node_modules
package-lock.json
Cargo.lock
target
build
compile
dist
.DS_Store
project/backend/prisma/migrations/migration_lock.toml
project/backend/prisma/migrations/20231121084544_/migration.sql
.gitignore
