.other-chat-layout {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  margin-bottom: 1.5%;
}

.other-chat-image {
  width: 10%;
  height: 10%;
}

.other-chat {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 2%;
}

.other-chat-content {
  padding: 2%;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  max-width: 35%;
  word-wrap: break-word;
  background-color: #8e8cdc;
  align-self: flex-start;
  color: white;
  min-width: 10%;
}

.other-chat-content-f {
  padding: 2%;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  max-width: 35%;
  word-wrap: break-word;
  position: relative;
  background-color: #8e8cdc;
  align-self: flex-start;
  color: white;
  min-width: 10%;
}

.other-chat-content-f::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -15%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #8e8cdc;
}

.other-chat-time {
  padding-left: 1%;
  font-size: 11px;
  align-self: flex-start;
}
