.user-info {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid #e7e1f3;
  position: relative;
}

.user-info-image {
  width: 7%;
  height: 70%;
  position: absolute;
  left: 5%;
  top: 20%;
}

.user-info-username {
  position: absolute;
  top: 15%;
  left: 17%;
  bottom: 50%;
  font-size: 25px;
}

.user-info-active {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 60%;
  left: 17%;
  transform: translateY(50%);
}

.user-info-active-dis {
  position: absolute;
  left: 20%;
  top: 60%;
  font-size: 12px;
}

.active {
  background-color: #2fd236;
}

.inactive {
  background-color: #8a8a8e;
}

.user-info-setting {
  position: absolute;
  right: 5%;
  top: 20%;
  width: 5%;
  height: 55%;
}
